body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url("college_background_photo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 40px;
	border-radius: 5px;
	text-align: center;
}

.logo {
	background-color: #fff;
	width: 300px;
	height: 90px;
	border: 10px solid #fff;
}

h1 {
	margin-bottom: 20px;
	font-size: 40px;
}

p {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.5;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1pxsolid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
}

button[type="submit"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: none;
	border-radius: 10px;
	background-color: #000;
	color: #fff;
}
