*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

boddy{
    background-image: "bg.jpg";
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: 100vh;
    padding: 0 20px;
}

.form-container{
    display: flex;
    width: 1000px;
    height: 600px;
    border: 3px solid rgba(255,255,255,0.3);
}